@import "./base/settings";
@import "./base/base";
@import "./base/mixins";
@import "./views/navbar";
@import "./views/footer";
@import "./views/homepage/banner";
@import "./views/homepage/homecontent";
@import "./views/workoutspage/workoutspage-banner";
@import "./views/workoutspage/workouts";
@import "./views/workoutform/workoutform";
@import "./views/exercisepage/exerciseform";