.startworkout {
    text-align: center;
    // height: 100vh;
    // width: 100vw;
    background: linear-gradient(141deg, #c56cf9, #9d0fe4);
    padding: 4em 0;

    h1 {
        font-size: 3em;
    }
    i {
        font-size: 4em;
        color: white;
        margin-bottom: .5em;
    }
}

.startworkout__panel {
    padding-bottom: 2em;
    border: 1px solid white;
}


@media only screen and (min-width: $desktop-breakpoint) {
    .startworkout {
        height: 100vh;
        padding-top: 6em;
    }

    .startworkout__panel {
        margin-top: 3em;
        border: 1px solid white;
    }
}