.homecontent {
    text-align: center;
    padding-top: 1em;
    h2 {
        color: rgb(179, 179, 179);
        font-size: 1.5em;
    }
}


.homecontent__grid {
    margin-top: 4em;
    margin-bottom: 4em;
}

.homecontent__panel {
    align-self: center;
    margin: 1em;
    padding-top: 1em;
    @include boxshadow;
    h3 {
        padding-top: 1em;
    }
    img {
        margin-top: 2em;
        width: 100px;
    }
    p {
        padding: 1.5em;
        margin: 0 1em;
        color: grey;
    }
}


@media only screen and (min-width: $desktop-breakpoint) {
    .homecontent__grid {
        margin-top: 4em;
    }
}