// Colours



// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Grid
.grid--3to1 {
    display: grid;
    grid-template-columns: 1fr;
}




@media only screen and (min-width: $desktop-breakpoint) {
    .grid--3to1 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid--2to1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}